<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="index">

<div id="header" class="container">
    <div id="logo">
        <h1><a href="#">Unitri ELeague</a></h1>
    </div>
    <div id="menu">
        <ul>
            <li class="current_page_item"><a href="/competidor/page">Home</a></li>
            <li><a href="/competidor/novo">Cadastre-se</a></li>
            <li><a href="/time/cs">Participantes</a></li>
            <li><a href="/competidor/sobre">Sobre..</a></li>
            <li><a href="/competidor/login">Login</a></li>
        </ul>
    </div>
</div>

</html>