<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="index">

<head>
    <title>Cadastro - Unitri Games Championship</title>
</head>
<section layout:fragment="content">
    <header layout:include="/navs/navcadastro"></header>
    <div id="page">
        <div class="post">
            <div class="entry">
                <div class="formulario">
                    <form class="form-hotizontal" method="POST" action="/competidor" th:object="${competitor}">
                        <h2 class="title"><a href="#">Digite seus dados!</a></h2>

                        <div class="alert alert-success" th:if="${!#strings.isEmpty(mensagem)}">
                            <span th:text="${mensagem}">Cadastrado com sucesso!!!</span>
                        </div>

                        <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                            <div th:each="detailedError : ${#fields.detailedErrors()}">
                                <span th:text="${detailedError.message}"></span>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="inputName">Nome</label>
                            <input type="text" class="form-control" id="inputName"
                                   aria-describedby="emailHelp" placeholder="Nome" th:field="*{name}"/>
                        </div>

                        <div class="form-group col-md-5">
                            <label for="local">Local</label>
                            <input type="text" class="form-control" id="local"
                                   placeholder="Local" th:field="*{local}"/>
                        </div><br/>


                        <div class="form-group col-md-4">
                            <label for="date">Data</label>
                            <input type="date" class="form-control" id="date"
                                   placeholder="Data de Nascimento" th:field="*{eventDate}"/>
                        </div><br/>

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Example select</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-primary">Cadastrar-se</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div id="footer">
        <p>&copy; UnitriGamesChampionship. All rights reserved.</p>
    </div>
</section>

</html>