<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="index">
<head>
    <title>Sobre</title>
</head>
<section layout:fragment="content">
    <header layout:include="/navs/nav-sobre"></header>
    <div id="header-wrapper">

        <div id="page">
            <div class="post">

                <h4 class="title"><a href="#">1. Histórico e Objetivos:</a></h4>
                    <p>
                        A clássica jornada tecnológica, agora na sua 12ª edição, que acontecerá dos dias 20 a 25 de novembro, terá por mais um ano o campeonato de LoL (League of Legends) e também de CS:GO (Counter Strike Global Offensive), que será presencial no dia 25 de novembro de 2017 das 9:00 às 16:00, seguindo o modelo de oitavas, o campeonato terá um total de dezesseis equipes registradas.
                    </p><br/>

                <h4 class="title"><a href="#">2. Competição</a></h4>
                    <p>
                        A competição será com partidas simultâneas de ambos os games, tendo a disposição um total de quarenta(40) máquinas para execução do campeonato. Com duas(2) partidas de cada game simultâneas e com chaveamento de oitavas.
                        Os jogos terão o tempo estimado de uma (1) hora, com o tempo incluído de 10 minutos para organização dos acessórios e configuração do ambiente de jogo.
                        </p>
                    <p>A saída dos mesmos terá um tempo máximo de permanência de também, 10 minutos, sujeito a eliminação.
                        O tempo de espera máximo de equipes após serem chamadas será de 20 minutos.</p><br/>

                <h6 class="title"><a href="#">2.1 Visitantes</a></h6>
                    <p>
                        É explicitamente proibido a entrada do mesmo à sala de jogos, sendo permitido o livre trânsito às demais dependências, inclusive à sala de reprodução.                    </p><br/>

                <h6 class="title"><a href="#">2.2 Participantes</a></h6>
                    <p>
                        Os participantes de cada equipe poderá ser qualquer ser vivo que consiga jogar de Yasuo (ou pelo menos tentar) e que tenha um frag 0/0/0 no início de qualquer jogo.
                        </p>
                    <p>A entrada a sala de jogos será permitida no momento em que a equipe do mesmo for chamada, assim como orientado pela comissão organizadora.
                        Com qualquer idade e que não infrinja nenhuma regra.</p><br/>

                <h6 class="title"><a href="#">2.3 Programa</a></h6>
                    <p>
                        Os jogos terão previsão de início às 9:00 e previsão de término às 16:00, podendo se estender até a finalização de todas as partidas.
                    </p><br/>

                <h6 class="title"><a href="#">2.4 Locais e Datas</a></h6>
                <p>Unitri, 25 de novembro de 2017.</p>

                <h6 class="title"><a href="#">2.5 Coordenação Técnica</a></h6>
                        <p>
                            A comissão organizadora será formada por alunos dos cursos de CC e SI. Qualquer aluno/visitante que desrespeitar a autoridade dos membros envolvidos será punido.
                        </p><br/>

                <h4 class="title"><a href="#">3. Inscrições</a></h4>
                        <h6 class="title"><a href="#">3.1 Número de participantes por modalidade</a></h6>
                        <p>A equipe será formada por 5/6 participantes, com o reserva como opção.</p><br/>

                        <h6 class="title"><a href="#">3.2 Requisitos para inscrições</a></h6>
                        <p>
                            As equipes só serão registradas após o pagamento do valor de R$25,00 por equipe. Com possível exclusão de equipes devedoras para chaveamento.
                        </p>
                        <p>
                            O líder de cada equipe será colocado em um grupo para discussão de pagamentos ou depósitos.
                        </p><br/>

                <h4 class="title"><a href="#">6. Premiação</a></h4>
                        <p>
                            O prêmio para o primeiro lugar será o valor de R$250,00 para o primeiro lugar e de R$150,00 para o segundo lugar. (Obs.: caso o número de equipes seja menor, o prêmio será reduzido proporcionalmente.
                        </p><br/>

                <h4 class="title"><a href="#">7. Disposições Gerais</a></h4>
                        <p>
                            Estão todos os convidados a transitarem livremente pelo campus, à assistir todas as palestras que estarão ocorrendo e a utilizar as dependências da UNITRI.
                        </p><br/>

                <h4 class="title"><a href="#">8. Data e Assinatura</a></h4>
                        <p>
                            A Data de inscrição será até o dia 22 de novembro de 2017 ou até o pagamento das 16 primeiras equipes.
                        </p><br/>


            </div>
            <div id="featured-content">
                <div id="column1">
                    <h2>CS:GO</h2>
                    <p><img src="/images/csgo.jpg" width="300" height="150" alt="" /></p>
                    <p>Cadastre-se no campeonato de CS: Global Ofensive.</p>
                    <p class="button"><a href="/competidor/novo">Saiba Mais</a></p>
                </div>
                <div id="column2">
                    <h2>LoL</h2>
                    <p><img src="/images/lol.jpg" width="300" height="150" alt="" /></p>
                    <p>Cadastre-se no campeonato de League of Legends.</p>
                    <p class="button"><a href="/competidor/novo">Saiba Mais</a></p>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <p>&copy; UnitriGamesChampionship. All rights reserved.</p>
    </div>

</section>
</html>