<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="index">
<head>
    <link rel="stylesheet" type="text/css" href="/css/default.css"/>
    <meta charset="UTF-8"/>
    <title>Participe ou crie um time</title>
</head>
<body>
    <section layout:fragment="content">
        <header layout:include="navparticipantes"></header>


        <div id="page">
            <div class="post">
                <h2 class="title"><a href="#">Estes sao os times ja cadastrados!</a></h2>
                <div class="team-list">
                    <div class="card" style="width: 20rem; float:left;" th:each="team : ${teamList}">
                        <div class="card-body">
                            <h3 class="card-title" th:text="${team.name}">Card title</h3>
                            <h6 class="card-subtitle mb-2 text-muted" th:text="${team.nickPlayer1}">Card subtitle</h6>
                            <h6 class="card-subtitle mb-2 text-muted" th:text="${team.nickPlayer2}">Card subtitle</h6>
                            <h6 class="card-subtitle mb-2 text-muted" th:text="${team.nickPlayer3}">Card subtitle</h6>
                            <h6 class="card-subtitle mb-2 text-muted" th:text="${team.nickPlayer4}">Card subtitle</h6>
                            <h6 class="card-subtitle mb-2 text-muted" th:text="${team.nickPlayer5}">Card subtitle</h6>
                            <p class="card-text" th:text="${team.description}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
</body>
</html>