<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="index">
<head>
    <link rel="stylesheet" type="text/css" href="/css/default.css"/>
    <meta charset="UTF-8"/>
    <title>Times:UEL</title>
</head>
<body>
    <section layout:fragment="content">
        <header layout:include="/navs/navparticipantes"></header>


        <div id="page">
            <div class="post">
                <h2 class="title"><a href="#">Estes sao os times ja cadastrados!</a></h2>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/time/cs">CS : Global Ofensive</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/time/lol">League of Legends</a>
                    </li>
                </ul>
                <section layout:fragment="teams">
                    <p>conteudo</p>
                </section>
            </div>
        </div>


    </section>
</body>
</html>
